<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			    <div class="nav">
      <div class="container">
        <ul class="pull-left">
		<li><a href="#">Home</a></li>
         	<li><a href="#">About Me</a></li>
         	<li><a href="#">Browse My Work</a></li>
        </ul>
        <ul class="pull-right">
         	<li><a href="#">Contact</a></li>
         	<li><a href="#">Blog</a></li>
	</ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Kaly Dumesnil</h1>
        <p>Computer science student; Programmer; Video game enthusiast; Amateur artist</p>
      </div>
    </div> 

    <div class="learn-more">
	  <div class="container">
		<div class="row">
	  	  <div class="col-md-4">
			<h3>Travel</h3>
			<p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
			<p><a href="#">See how to travel on Airbnb</a></p>
		  </div>
		  <div class="col-md-4">
			<h3>Host</h3>
			<p>Renting out your unused space could pay your bills or fund your next vacation.</p>
			<p><a href="#">Learn more about hosting</a></p>
	      </div>
		  <div class="col-md-4">
			<h3>Trust and Safety</h3>
			<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
			<p><a href="#">Learn about trust at Airbnb</a></p>
		  </div>
	    </div>
	  </div>
	</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:kalydumesnil@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kalycd">github.com/kalycd</a></li>
				</ul>
			</footer>
		</body>
	</html>
